<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../layout %>
</head>
<body>
    <% include ../top-nav %>

    <div class="content">
        <div class="row">
                <% if(games) { %>
                    <% games.forEach(game => { %>
                        <div class="column">
                            <div class="card">
                                <a href="/game/<%= game.id %>"><img src="/uploads/game/<%= game.img %>" alt=""></a>
                                <h3><a href="/game/<%= game.id %>"><%= game.title %></a></h3>
                                <p>참가날짜: <%= game.participateDate %></p>
                                <p>일정: <%= game.timeToDate %></p>
                            </div>
                        </div>
                    <% }); %>
                <% } %>
        </div>
        <button class="create-Buttons"><a href="/game/newGame">Create Game</a></button>
    </div>

    <style>
        .content {
            margin: 20px;
        }

        .create-Buttons {
            background-color: #AE85FF;
            border: none;
            border-radius: 20px;
        }
        .create-Buttons a {
            font-size: 20px;
            color: white;
            padding: 30px 10px 30px 10px;
            text-decoration: none;
        }
    </style>
</body>
</html>